/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estilos para el cuerpo */
body {
  background-color: green;
  margin: 0; 
  padding: 0; 
  display: flex;
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center; /* Centrar contenido verticalmente */
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}

/* Estilos para la tarjeta */
.card {
  width: 90%; /* Ancho del 90% del viewport */
  max-width: 640px; /* Ancho máximo de 640px */
  height: 400px; /* Altura fija */
  position: relative;
  border-radius: 20px; /* Esquinas redondeadas */
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 1s; /* Transición al hacer hover */
}

/* Estilos para la rotación al hacer hover */
.card:hover {
  transform: rotate(-5deg);
}

/* Estilos para la parte delantera y trasera de la tarjeta */
.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px; /* Esquinas redondeadas */
}

/* Estilos para la parte delantera de la tarjeta */
.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front p {
  font-size: 1.5rem; /* Tamaño de fuente */
  text-align: center;
  margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para la parte trasera de la tarjeta */
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

/* Estilos para el logo */
.logo {
  width: 80%; /* Ancho del 80% */
  max-width: 200px; /* Ancho máximo */
  height: auto;
}

/* Estilos para el contenido interno */
.inside {
  padding: 20px;
  text-align: center;
}

.inside p {
  font-size: 1rem; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
}

.inside h1 {
  font-size: 3rem; /* Tamaño de fuente */
  line-height: 1; /* Altura de línea */
}
